body {
    background: #eee;
    font-family: "PE Headline" !important;
}
.top-banner{
    height: 200px;
    background: #c40404;
}
#regForm {
    background-color: #ffffff;
    margin: 0px auto;
    font-family: Raleway;
    padding: 40px;
    border-radius: 10px
}

input{
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    border-radius: 15px;
    -webkit-appearance: none
}
select.form-control{
    border-radius: 15px;
}
.btn-toolbar .btn-group{
    margin-left: 20px;
}
.btn-group input{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:1px solid #000;
}
button.btn-lg {
    background-color: red;
    color: #ffffff;
    border: none;
    border-radius: 15px;
}

button:hover {
    opacity: 0.8
}

button:focus {
    outline: none !important
}
.btn-group{
    width: 50px;
    height: 50px;
    border:1px solid #000;
    border-radius: 50%;
}
.btn-group:hover{
    cursor: pointer;
}
.btn-group.active{
    border-color: #120C4B;
    box-shadow: 0 0 5px #120C4B;
}
a.btn-back{
   border-radius: 30px;
   padding: 10px;
   background: #120C4B;
   color:#fff;
}
a.btn-back:hover{
    background: #0e0844;
    color:#fff;
}
.custom-radio-button div {
    display: inline-block;
    margin-left: 15px;
  }
  .custom-radio-button input[type="radio"] {
    display: none;
  }
  .custom-radio-button input[type="radio"] + label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  .custom-radio-button input[type="radio"] + label span {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 44px;
  }
  .custom-radio-button input[type="radio"] + label span img {
    opacity: 0;
    transition: all 0.3s ease;
  }
  .custom-radio-button input[type="radio"]:checked + label span {
    opacity: 1;
    width: 50px;
    height: 50px;
    border-color: #120C4B;
    box-shadow: 0 0 5px #120C4B;
    display: inline-block;
  }